.movieListContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.favoriteListContainer{
    margin-bottom: 5px;
    margin-top: 80px;
}
.genreForm{
    margin-bottom: 20px;
}

.Appbar{
    margin-bottom: 150px;
}